.qtyBtn .addBtn {
  border: none;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 24px;
  height: 28px;
  padding: 0 16px;
  font-size: 14px;
}

.qtyBtn .qtyGroup {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 24px;
  height: 28px;
  padding: 0 16px;
  width: 50px;
  justify-content: space-between;
}

.qtyBtn .qtyGroup .incBtn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.qtyBtn .qtyGroup .value {
  color: #fff;
}

.qtyBtn .qtyGroup .decBtn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
