.header {
  border-bottom: 1px solid #e1e1e1;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #eee;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.header .content ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}
.header .content ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.header .content ul :hover {
  color: gray;
}
.cartBtn {
  font-size: 25px;
  cursor: pointer;
  width: 2px;
}
.cartBtn button {
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.cartBtn button :hover {
  color: gray;
}
.num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #eee;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
}

@media screen and (max-width: 430px) {
  .content h1 {
    font-size: 28px;
    margin-left: 8px;
  }
  .header .content ul {
    gap: 8px;
    padding-right: 28px;
  }
}
@media screen and (max-width: 360px) {
  .content h1 {
    font-size: 24px;
    margin-left: 6px;
  }
  .header .content ul {
    gap: 6px;
    margin-top: 8px;
  }
}
