.cartAction {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 5px;
  margin-top: 18px;
}
.cartAction button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.cartAction button:hover {
  background-color: red;
}

.productsGrid {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.card .imag {
  height: 200px;
  background-color: #eee;
  position: relative;
  box-shadow: 0 0 8px #000;
}

.card .title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  animation: ani 1.5s;
}
.card .supT {
  margin-top: 4px;
  color: #666666;
  animation: ani 2s;
}
.card .linspa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.card .linspa a {
  text-decoration: none;
  color: #0000ff;
}
.card .linspa span {
  color: #666666;
}
.scroll {
  max-height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 360px) {
  .sheetH1 {
    margin-left: 8px;
  }
  .cartAction {
    margin: 0 8px;
  }
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 8px;
  }
  .card {
    margin-bottom: 28px;
  }
  .card .imag {
    box-shadow: 0 0 8px #000;
  }
  .scroll {
    max-height: 100%;
    overflow-y: auto;
  }
}
@media screen and (max-width: 430px) {
  .productsGrid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 8px;
  }

}
